<div class="mt-24">
  <br/>
  <span class="header font-semibold text-6xl tracking-tight">
    Join a room
  </span>
  <br/>
  <br/>

</div>

<div class="flex mt-10">
  <% if @rooms.present? %>
    <div class="columns is-multiline is-centered">
      <% @rooms.each do |room| %>
        <div class = "column is-one-fifth is-centered">
          <%= link_to room.name, room.name, class: "button is-medium is-centered is-fullwidth" %>
          <td><%=link_to 'Destroy', room.name, method: :delete, data: { confirm: 'Are you sure?' }, class: "is-centered"%></td>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-muted">
      The are no rooms
    </div>
  <% end %>
</div>



<%
=begin%>
 <div class="mt-24">
  <span class="header font-semibold text-3xl tracking-tight">Destroy a room</span>
</div>

<div class = "columns is-centered is-multiline">
  <% @rooms.each do |room| %>
    <div class = "column is-one-tenth ">
        <td><%=room.name%><br></td>
        <td><%=link_to 'Destroy', room.name, method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </div>
  <% end %>
</div> 
<%
=end%>

<%
=begin%>
 <div class="mt-24">
  <br/>
  <br/>
  <span class="header font-semibold text-3xl tracking-tight">Destroy all rooms</span>  
</div> 
<%
=end%>

<div class = "columns is-centered is-multiline">
  <div class = "column is-one-tenth ">
    <br/>
    <br/>
    <td><%=link_to 'Destroy all rooms', 'delete/all', method: :delete, data: { confirm: 'Are you sure?' }%></td>
  </div>
</div>
<div style="display: flex; justify-content: center;">
<%= will_paginate @rooms, :class => 'digg_pagination' %>
</div>