<!DOCTYPE html>
<html>
  <head>
    <title>PlayNow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="fullscreen">
      <nav class="w-full media-content has-text-left">
        <%= link_to 'PlayNow', '/', class: "header play-now article-title" %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
